{% load static %}

<div class="question" style="height: auto;">    
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static "img/photo.png" %}" alt="avatar">
            </div>
            <div class="counter">
                <input class="love-btn" data-type="answer" data-id="{{ answer.id }}" type="button" value="&#x2764;">
                    <input class="counter-input"  type="text" value="{{ answer.like }}" readonly>
                </input>
            </div>
        </div>
        <div class="col-9">
            <div class="answer-text">{{ answer.text }}</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" {% if answer.correct %}checked{% endif %}>
                <label class="form-check-label" for="defaultCheck1">
                    Correct!
                </label>                             
            </div>
        </div>
    </div>
</div>