{% load static %}

<div class="question" style="height: auto;">    
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static "img/photo.png" %}" alt="avatar">
            </div>
            <div class="counter">
                <button class="counter-btn" data-action="decrement">-</button>
                <input class="counter-input" type="text" value="{{ answer.num_likes }}">
                <button class="counter-btn" data-action="increment">+</button>
            </div>
        </div>
        <div class="col-9">
            <div class="answer-text">{{ answer.text }}</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" {% if answer.correct %}checked{% endif %}>
                <label class="form-check-label" for="defaultCheck1">
                    Correct!
                </label>                             
            </div>
        </div>
    </div>
</div>