{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">

    <title>AskSikanov</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/my.css" %}">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <h2><a class="navbar-brand" href="index.html">AskSikanov</a></h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="mini-avatar">
                    <img src="{% static "img/photo.png" %}" alt="avatar">
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="settings.html">Dr. Paper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="settings.html">settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">log out</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% block content %}{% endblock content %}
            </div>
            <div class="col-3">
                <div>
                    <div>
                        <h2>Popular Tags</h2>
                        <div>
                            <a href="tag.html">tag1</a>,
                            <a href="tag.html">tag2</a>,
                            <a href="tag.html">tag3</a>,
                        </div>
                    </div>
                    <div>
                        <h2>Best Members</h2>
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li><a href="#">Dr. Paper</a></li>
                            <li><a href="#">Dr. Qaper</a></li>
                            <li><a href="#">Dr. Aaper</a></li>
                            <li><a href="#">Dr. Daper</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div> -->

    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>