{% load static %}

<div class="question" style="height: auto;">
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static "img/photo.png" %}" alt="avatar">
            </div>
            <div class="counter">
                <input class="love-btn" data-id="{{ question.id }}" type="button" value="&#x2764;">
                    <input class="counter-input"  type="text" value="{{ question.like }}" readonly>
                </input>
            </div>
        </div>
        <div class="col-9">
            <h2>{{ question.title }}</h2>
            <div class="question-text" style="height: auto;">{{ question.text }}</div>
            <div class="row">
                <div class="col-8">
                    {% for tag in question.tag.all %}
                    {% if tag.name %}
                      <a href="{% url "tag" tag %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endif %}
                    {% endfor %}              
                </div>
                
            </div>
        </div>
    </div>
</div>