{% load static %}

<div class="question" style="height: 220px;">
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static "img/photo.png" %}" alt="avatar">
            </div>
            <div class="counter">
                <button class="counter-btn" data-action="decrement">-</button>
                <input class="counter-input" type="text" value={{ question.likes.count }}>
                <button class="counter-btn" data-action="increment">+</button>
            </div>
        </div>
        <div class="col-9">
            <h2>{{ question.title }}</h2>
            <div class="question-text">{{ question.text }}</div>
            <div class="row">
                <div class="col-8">
                    {% for tag in question.tag.all %}
                    {% if tag.name %}
                      <a href="{% url "tag" tag %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endif %}
                    {% endfor %}              
                </div>
                
            </div>
        </div>
    </div>
</div>