<div style="text-align: center;">
    {% if obj.has_previous %}
    <a href="?page=1" class="btn btn-primary" px;">Первая</a>
    <a href="?page={{ obj.previous_page_number }}" class="btn btn-primary" px;">Предыдущая</a>
    {% endif %}

    <span class="current-page">{{ obj.number }} / {{ obj.paginator.num_pages }}</span>

    {% if obj.has_next %}
    <a href="?page={{ obj.next_page_number }}" class="btn btn-primary" px;">Следующая</a>
    <a href="?page={{ obj.paginator.num_pages }}" class="btn btn-primary" px;">Последняя</a>
    {% endif %}
</div>