main > .container {
    padding: 60px 15px 0;
  }
  
  .question {
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #my-input {
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .mini-avatar {
    height: 50px;
    width: 50px;
  }
  
  .max-avatar {
    height: 200px;
    width: 200px;
  }
  
  .question-avatar {
    height: 130px;
    width: 130px;
  }
  
  .question-avatar > img,
  .mini-avatar > img,
  .max-avatar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .my-input {
    height: 50px;
    border: 12px solid red;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .question-text {
    margin-bottom: 5%;
    height: 70px;
    overflow: auto;
  }
  
  .answer-text {
    margin-bottom: 5%;
  }
  
  .counter {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .counter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background-color: #fff;
    color: #555;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .counter-input {
    height: 32px;
    width: 48px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #555;
  }
  