{% extends "inc/base.html" %}

{% block content %}
<h1 class="mt-5">Log In</h1>
<div class="container">
    <form>
        <div class="form-group row">
            <label for="input1" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input id="login-input" class="form-control ask-input" type="text" placeholder="Enter your login">
            </div>
        </div>
        <div class="form-group row">
            <label for="input2" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input id="email-input" class="ask-input form-control" type="password" placeholder="Enter your password">
            </div>
        </div>
    </form>
    <div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Log In</button>
        <label style="color: red">Sorry, wrong password</label>
    </div>
    <a href="signup.html">Create new account</a>
</div>
{% endblock content %}