{% extends "inc/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
{% include "inc/main_question_item.html" %}

<hr class="bg-dark">
{% for answer in page_obj %}
    {% include "inc/answer_item.html" %}
{% endfor %}

<hr class="bg-dark">
{% if not user.is_authenticated %}
  <p>Чтобы ответить на вопрос, пожалуйста, <a href="{% url 'login' %}?continue={% url 'question' question.pk %}">войдите</a> или <a href="{% url 'signup' %}?continue={% url 'question' question.pk %}">зарегистрируйтесь</a>.</p>
{% else %}
  <form method="post" action="{% url 'question' question.pk %}">
    {% csrf_token %}
    <div class="form-group">
      {% bootstrap_form form %}
    </div>
    <button type="submit" class="btn btn-primary">Answer</button>
  </form>
{% endif %}

{% include "inc/paginator.html" with obj=page_obj %}

{% if flag %}
    <script>
        window.location.href = "{{ request.path }}?page={{ page_obj.paginator.num_pages }}";
    </script>
{% endif %}

{% if page_obj.number  ==  page_obj.paginator.num_pages %}
<script>
    window.scrollTo(0, document.body.scrollHeight);
</script>
{% endif %}

<script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

{% endblock content %}
